 /*京东秒杀*/
#seckill{
	
}
#seckill .w{
height: 300px;
overflow: hidden;
background-color: #fff;
}
#seckill .w .seckill-box-banner{
	overflow: hidden;
	position: relative;
	height: 55px;
	background-image: url("../images/seckill_hd.png");
}
#seckill .w .seckill-box-banner .left-icon{
	width: 28px;
	height: 28px;
	background-position: -190px -48px;
	background-image: url("../images/sprite_index@1x.png");
    position: absolute;
    left: -4px;
    top: -4px;
}
#seckill .w .seckill-box-banner .left-clock{
	position: absolute;
	left: 35px;
	margin-top: 8px;
    background-image: url("../images/sprite_index@1x.png");
    background-position: 0 -40px;
    background-repeat: no-repeat;
    width: 34px;
    height: 40px;
}
#seckill .w .seckill-box-banner h3{
	position: absolute;
	left: 75px;
	font-family: fzzhengheis-el-gbregular;
    font-size: 26px;
    font-weight: 400;
    line-height: 40px;
    height: 40px;
    color: #fff;
    padding-top: 9px;
}
#seckill .w .seckill-box-banner p{
	color:#fff;
	position: absolute;
	left: 175px;
	bottom: 0px;
	padding: 10px;
}
/*J京东倒计时*/
.right_box{
	width: 300px;
	height: 100%;
	background: #e01222;		
}
.tip{
	float: left;
	margin:0 5px;
	line-height: 45px;
	padding-top: 10px;
	font-size: 14px;
	color:#fff;
}
.cd{
	float: left;
	width: 35px;
	height: 37px;
	background-color: #440106;
	color: #f90013;
	font-size: 24px;
	font-weight: 700;
	border-radius: 3px;
	text-align: center;
	line-height: 37px;
	margin-top: 10px;
}
.split{
	float: left;
	margin: 22px 4px 0;
	width: 4px;
	height: 12px;
	font-size: 0;
	line-height: 0;
}
.split-dot{
	display: block;
	width: 4px;
	height: 4px;
	border-radius: 100%;
	background-color: #440106;
}
.split_top{
	margin-bottom: 4px;
}
/*京东秒杀下半部*/
#seckill .seckill-box-content {
	width: 100%;
	height: 100%;
	/*background-color: blue;*/
}
.me_left_col{
	float: left;
	width: 84%;
	height:250px;
	/*background-color: green;*/
}
.ms_left ul li{
	height: 250px;
	width: 190px;
	padding-left: 2px;
	border-left: 1px solid #ddd;
	float: left;
	margin-right: 9px;
	/*background-color: green;*/
	position: relative;
}
.ms_left ul li img{
	position: absolute;
	top: 30px;
	left: 50%;
	width: 100px;
	height: 100px;
	margin-left: -50px;
}
.sk_item_shadow{
	position: absolute;
    left: 10px;
    top: 130px;
    text-align: center;
    background-image: url(../images/sprite_index@1x.png);
    background-position: 0 0;
    background-size: 218px 188px;
    background-repeat: no-repeat;
    width: 170px;
    height: 20px;
}
.sk_item_name{
	color: #999;
    display: block;
    max-width: 300px;
    overflow: hidden;
    font-size: 12px;
    text-align: center;
    height: 32px;
    line-height: 16px;
    word-wrap: break-word;
    position: absolute;
    bottom: 30px;

}
.sk_item_price {
    padding: 2px 0;
    overflow: hidden;
    height: 25px;
    width: 300px;
    position: absolute;
    bottom: 10px;
}
.sk_item_price_new {
    font-size: 18px;
    font-weight: 700;
    /*margin-right: 8px;*/
}
.mod_price {
    font-size: 20px;
    color: #f10214;
}
.sk_item_price_origin {
    color: #999;
    font-size: 12px;
}
.sk_item_price_new i {
    font-size: 12px;
    font-weight: 300;
}
.mod_price i {
    margin-right: 3px;
    font-family: arial;
    font-weight: 400;
    font-size: 12px;
}
.sk_item_price_origin del {
    font-weight: 400;
}
.me_right_col{
	width: 16%;
	position: relative;
	float: left;
	height: 250px;
	/*background-color: yellow;*/
}
.me_right_col img{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 240px;
	z-index: 2;
}
.ms_right_img1{
	display: block;
}
.ms_right_img2{
	display: none;
}
.me_right_col ul{
	width: 30px;
	height: 15px;
	/*background-color: red;*/
	position: absolute;
	left: 50%;
	margin-left: -10px;
	bottom: 5%;
	z-index: 100;
}
.me_right_col li{
	width: 15px;
	height: 15px;
	border-radius: 15px;
	float: left;
}
.me_right_col li:nth-child(1){
	background-color: red;
}
.me_right_col li:nth-child(2){
	background-color: gray;
}
